<div class="page-header">
  <h1 class="page-title">Consumos</h1>
  <button mat-fab extended (click)="addConsumption()" class="add-button">
    <mat-icon>add</mat-icon>
    <span class="button-text">Nuevo</span>
  </button>
</div>

<div class="container">
  @if (loading()) {
    <div class="loading-container">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    <div class="desktop-view">
      <table mat-table [dataSource]="consumptions()" class="mat-elevation-z2">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let consumption">
            {{ consumption.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="service">
          <th mat-header-cell *matHeaderCellDef>Servicio</th>
          <td mat-cell *matCellDef="let consumption">
            {{ getCostName(consumption.costId) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Cantidad por hora</th>
          <td mat-cell *matCellDef="let consumption">
            {{ consumption.quantity }} {{ getUnitName(consumption.costId) }}/h
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let consumption">
            <button mat-icon-button color="primary" (click)="editConsumption(consumption)" matTooltip="Editar">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteConsumption(consumption)" matTooltip="Eliminar">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div class="mobile-view">
      @for (consumption of consumptions(); track consumption.id) {
        <div class="consumption-row">
          <div class="consumption-info">
            <span class="consumption-name">{{ consumption.name }}</span>
            <span class="service-name">{{ getCostName(consumption.costId) }}</span>
            <div class="consumption-details">
              <span class="detail">{{ consumption.quantity }} {{ getUnitName(consumption.costId) }}/h</span>
            </div>
          </div>
          <div class="consumption-actions">
            <button mat-icon-button color="primary" (click)="editConsumption(consumption)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteConsumption(consumption)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      }
    </div>
  }
</div>
